@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
.service-container-bg .card {
  align-items: center; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "PT Sans", sans-serif !important;
  padding: 0 !important;
  width: 100% !important;
  margin: 0 !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif !important;
  font-weight: 700 !important; }

.container {
  width: 100% !important; }

#mainNav {
  padding: 0 !important; }
  #mainNav .nav-link {
    font-family: "PT Sans", sans-serif !important;
    font-weight: 700 !important; }
  #mainNav .nav-link:hover {
    transform: scale(0.8) !important; }
  #mainNav .active {
    background-color: #c5c8cc;
    border-radius: 10px; }

.header-logo {
  width: 200px;
  height: 80px; }

.symbol {
  width: 30px;
  height: auto;
  display: inline; }

.handshake {
  width: 50px;
  height: auto;
  display: inline; }

.with-logo {
  display: inline;
  vertical-align: middle; }

.color-red {
  color: #ee4631 !important; }

.color-blue {
  color: #0f60b2 !important; }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; }

.button-div :hover {
  transform: scale(0.8); }
.button-div .btn {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "PT Sans", sans-serif !important;
  font-size: small; }

.card-deck,
.card-group {
  display: flex;
  flex-direction: row;
  justify-content: center !important; }

.main-banner {
  width: 100%;
  max-height: calc(100vh - 100px); }

.main-strip {
  color: white;
  background-color: #ee4631;
  text-align: center;
  border-bottom: 5px solid white;
  padding: 10px;
  font-weight: bold; }
  .main-strip a {
    color: black; }

.card-border {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 4px; }

.card-border-gradient {
  border-image-source: linear-gradient(to bottom, #ee4631, #0f60b2); }

.main-section {
  padding: 0px 0px 10px 0px;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: white; }
  .main-section .section-heading-area {
    text-align: center;
    margin: auto;
    background-color: white; }
  .main-section .section-heading {
    padding: 10px !important;
    background: linear-gradient(to right, #ee4631, #0f60b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .main-section .section-description {
    color: black;
    font-weight: bold;
    font-size: large; }
  .main-section .card-area {
    margin: auto; }
  .main-section .card {
    align-items: center;
    margin: 0px 10px 10px 10px;
    padding: 0 !important;
    transition: 0.4s ease-out; }
    .main-section .card a :hover {
      transform: scale(0.8); }
  .main-section .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out; }
  .main-section .main-container {
    padding-top: 0px !important; }
  .main-section .card-body {
    padding: 10px !important; }
    .main-section .card-body p {
      font-weight: bolder;
      font-size: large; }
  .main-section small {
    font-size: 90%;
    color: gray; }
  .main-section .card-img-top {
    margin-bottom: 10px !important;
    height: 50% !important; }
  .main-section .card-title {
    background: linear-gradient(to right, #ee4631, #0f60b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .main-section h5 {
    color: #0f60b2 !important; }
  .main-section > .container {
    flex: 1;
    padding-top: 20px; }

.bg-section {
  background-image: url("../img/slideshow/bg2.jpg");
  background-repeat: repeat;
  background-size: 50%; }

.segment-retail-type {
  color: #0f60b2 !important; }

#contact h2 {
  text-align: center;
  margin-top: 10px !important; }
#contact p {
  text-align: center;
  font-size: large; }
#contact .color-blue,
#contact .color-red {
  font-weight: bold; }
#contact a {
  color: black; }
#contact .card {
  margin-top: 20px !important;
  padding-top: 20px !important; }
  #contact .card .card-body {
    width: 100%; }
  #contact .card .card-text {
    font-weight: normal !important;
    text-align: center; }
  #contact .card .card-subtitle {
    color: black !important;
    font-weight: bold; }
#contact form h5 {
  color: #0f60b2;
  font-weight: bold;
  text-align: center;
  margin-top: 10px; }
#contact form h6 {
  color: #0f60b2; }
#contact form fieldset {
  margin-top: 20px; }
#contact form .row {
  margin-left: 0px !important; }
#contact form a {
  color: #ee4631; }
#contact form img {
  margin-left: -20px;
  margin-top: 20px; }
#contact form .ownership {
  margin: 5px; }
#contact form .alert {
  margin-bottom: 5px !important; }
#contact form #adjust-margin .form-group {
  padding-left: 0 !important; }
#contact .contact-connects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 12px; }
#contact .contact-connects i {
  color: #0f60b2;
  font-size: x-large; }
#contact .contact-connects h5 {
  color: #ee4631 !important;
  margin-top: 10px; }
#contact .contact-connects img {
  max-width: 90%; }

#story {
  background-color: white;
  font-family: "PT Sans", sans-serif !important; }
  #story .container > .row {
    margin-bottom: 20px; }
  #story h2 {
    color: black;
    font-weight: bold; }
  #story h4 {
    font-weight: bold;
    width: 100%;
    text-decoration-line: underline;
    color: black; }
  #story ul {
    list-style-type: square;
    padding: 0;
    margin: 0;
    color: black; }
  #story .story {
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 0px 0px; }
  #story .story-text {
    margin-top: 10px; }
  #story p {
    color: black; }
  #story figure {
    text-align: center; }
    #story figure .manish {
      padding: 0px 0px;
      object-fit: cover;
      width: 60%;
      height: auto;
      border-radius: 20px;
      margin-bottom: 10px;
      margin-top: 10px; }
    #story figure figcaption {
      color: black;
      font-weight: bold; }
    #story figure p {
      font-weight: bold; }

.service-container-bg {
  min-height: calc(100vh - 100px);
  padding: 5%; }
  .service-container-bg .row {
    justify-content: center;
    align-items: center; }
  .service-container-bg h1 {
    color: #0f60b2; }
  .service-container-bg p {
    font-weight: bold; }
  .service-container-bg .service-container-img {
    text-align: center;
    height: auto; }

.service-detail {
  padding-top: 20px;
  color: black; }
  .service-detail div {
    padding: 5px;
    border-bottom: 1px #b7b7b7 solid; }

.service-content {
  text-align: center; }
  .service-content h1 {
    font-weight: bolder; }
  .service-content .card {
    margin-bottom: 0px !important;
    padding-top: 10px; }

.content-img {
  min-width: 80%;
  max-width: 100%;
  height: auto;
  overflow: hidden; }

.icons i {
  color: #0f60b2 !important;
  font-weight: bold; }
.icons table {
  vertical-align: middle; }
  .icons table td {
    padding: 3px; }

.my-footer {
  border-top: 5px blue solid;
  padding: 10px 25px;
  background-color: #f8f8f8;
  font-family: "PT Sans", sans-serif;
  font-size: small; }
  .my-footer h4 {
    background: linear-gradient(to right, #ee4631, #0f60b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    font-family: "PT Sans", sans-serif !important; }
  .my-footer ul {
    list-style-type: square; }
  .my-footer #site-map {
    font-weight: bold; }
    .my-footer #site-map a {
      color: #0f60b2 !important; }
  .my-footer #middle {
    font-weight: bold; }
    .my-footer #middle i {
      font-size: x-large;
      color: #ee4631; }
    .my-footer #middle ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
  .my-footer #contact-generic {
    margin-top: 5px;
    padding-right: 10px; }
    .my-footer #contact-generic li {
      color: #0f60b2 !important;
      font-weight: bold; }
    .my-footer #contact-generic .row {
      margin-bottom: 5px !important; }
  .my-footer .copyright {
    color: gray;
    margin-bottom: 0; }
    .my-footer .copyright i {
      color: gray !important; }
  .my-footer .click {
    color: black; }

.click {
  color: white; }

#credits {
  width: 100%;
  text-align: center;
  font-size: small;
  color: #5e5e5e;
  padding: 10px;
  line-height: 2.5; }
  #credits span {
    color: #ee4631;
    font-weight: bold; }

#admin table {
  background-color: white; }

.contact-sticky {
  position: fixed;
  bottom: 20px;
  left: auto;
  right: 20px;
  z-index: 9999; }
  .contact-sticky .tooltip-hide {
    display: none; }
  .contact-sticky img {
    width: 70px;
    height: auto;
    display: inline;
    border-radius: 10px; }
  .contact-sticky img:hover {
    border-radius: 15px;
    transform: scale(1.2); }
    .contact-sticky img:hover .tooltip-hide {
      display: block;
      z-index: 99999; }
  .contact-sticky a:hover p:after {
    content: "Connect!"; }

@media (min-width: 0) {
  .content-img {
    padding-bottom: 5px; }

  #services .container,
  #services .main-container,
  #partners .container,
  #partners .main-container,
  #segments .container,
  #segments .main-container {
    padding-left: 10px;
    padding-right: 10px; }

  .card-group .card,
  .card-deck .card {
    flex: 0 0 calc(100% - 30px);
    width: 100% !important;
    height: auto !important; } }
@media (min-width: 576px) {
  .content-img {
    padding-bottom: 5px; }

  #services .container,
  #services .main-container,
  #partners .container,
  #partners .main-container,
  #segments .container,
  #segments .main-container {
    padding-left: 10px;
    padding-right: 10px; }

  .card-group .card,
  .card-deck .card {
    flex: 0 0 calc(100% - 30px);
    width: 100% !important;
    height: auto !important; } }
@media (min-width: 768px) {
  .content-img {
    padding-bottom: 5px; }

  #services .container,
  #services .main-container,
  #partners .container,
  #partners .main-container,
  #segments .container,
  #segments .main-container {
    padding-left: 10px;
    padding-right: 10px; }

  .card-group .card,
  .card-deck .card {
    flex: 0 0 calc(50% - 30px);
    width: 100% !important;
    height: auto !important; } }
@media (min-width: 992px) {
  .content-img {
    padding-bottom: 5px; }

  #services .container,
  #services .main-container,
  #partners .container,
  #partners .main-container,
  #segments .container,
  #segments .main-container {
    padding-left: 10px;
    padding-right: 10px; }

  .card-group .card,
  .card-deck .card {
    flex: 0 0 calc(25% - 30px);
    width: 100% !important;
    height: auto !important; } }
@media (min-width: 1200px) {
  .content-img {
    padding-bottom: 5px; }

  #services .container,
  #services .main-container,
  #partners .container,
  #partners .main-container,
  #segments .container,
  #segments .main-container {
    padding-left: 10px;
    padding-right: 10px; }

  .card-group .card,
  .card-deck .card {
    flex: 0 0 calc(25% - 30px);
    width: 100% !important;
    height: auto !important; } }
@media (min-width: 0) {
  #partners .card-deck .card {
    flex: 0 0 calc(100% - 30px); } }
@media (min-width: 576px) {
  #partners .card-deck .card {
    flex: 0 0 calc(100% - 30px); } }
@media (min-width: 768px) {
  #partners .card-deck .card {
    flex: 0 0 calc(50% - 30px); } }
@media (min-width: 992px) {
  #partners .card-deck .card {
    flex: 0 0 calc(33.33333% - 30px); } }
@media (min-width: 1200px) {
  #partners .card-deck .card {
    flex: 0 0 calc(20% - 30px); } }
@media (min-width: 0) {
  .segments-special .card-deck .card {
    flex: 0 0 calc(100% - 30px); } }
@media (min-width: 576px) {
  .segments-special .card-deck .card {
    flex: 0 0 calc(100% - 30px); } }
@media (min-width: 768px) {
  .segments-special .card-deck .card {
    flex: 0 0 calc(50% - 30px); } }
@media (min-width: 992px) {
  .segments-special .card-deck .card {
    flex: 0 0 calc(33.33333% - 30px); } }
@media (min-width: 1200px) {
  .segments-special .card-deck .card {
    flex: 0 0 calc(33.33333% - 30px); } }

/*# sourceMappingURL=styles.css.map */
