$color-logo-red: #ee4631;
$color-logo-blue: #0f60b2;

$color-secondary: #485664;
$color-secondary-light: #8f9fae;
$color-muted-red: #e24d55;

$color-white: #ffffff;
$color-gray: #6c757d;

body {
    font-family: "Open Sans", sans-serif;
    color: $color-secondary;
}

a {
    text-decoration: none;
    color: $color-logo-red;

    &:hover {
        color: $color-muted-red;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: $color-logo-red;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;

    i {
        font-size: 28px;
        color: $color-white;
        line-height: 0;
    }

    &:hover {
        background: $color-muted-red;
        color: $color-white;
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

#header {
    background: $color-white;
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;

    &.header-scrolled {
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        padding: 12px 0;
    }

    &.header-inner-pages {
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    }

    .logo {
        font-size: 28px;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;

        a {
            color: $color-secondary;
        }

        img {
            width: 200px;
            height: 80px;
        }
    }
}

.navbar {
    padding: 0;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    li {
        position: relative;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        font-weight: 500;
        color: $color-gray;
        white-space: nowrap;
        transition: 0.3s;

        &:focus {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0 10px 30px;
            font-family: "Poppins", sans-serif;
            font-size: 15px;
            font-weight: 500;
            color: $color-secondary;
            white-space: nowrap;
            transition: 0.3s;
        }

        i,
        &:focus i {
            font-size: 24px;
            line-height: 0;
            margin-left: -15px;
            margin-top: -5px;
        }

        &:hover {
            color: $color-logo-red;
        }
    }

    .active {
        color: $color-logo-red;

        &:focus {
            color: $color-logo-red;
        }
    }

    li:hover>a {
        color: $color-logo-red;
    }

    .getstarted {
        background: $color-logo-blue;
        padding: 8px 25px;
        margin-left: 30px;
        border-radius: 4px;
        font-weight: 400;
        color: $color-white;

        &:focus {
            background: $color-logo-blue;
            padding: 8px 25px;
            margin-left: 30px;
            border-radius: 4px;
            font-weight: 400;
            color: $color-white;
        }

        &:hover,
        &:focus:hover {
            color: $color-white;
            background: $color-muted-red;
        }
    }
}

.mobile-nav-toggle {
    color: $color-secondary;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;

    &.bi-x {
        color: $color-white;
    }
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }

    .navbar i {
        margin-left: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 10px;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(63, 73, 83, 0.9);
    transition: 0.3s;
    z-index: 999;

    .mobile-nav-toggle {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    ul {
        display: block;
        position: absolute;
        top: 55px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        padding: 10px 0;
        background-color: $color-white;
        overflow-y: auto;
        transition: 0.3s;
    }

    a {
        padding: 10px 20px;
        font-size: 15px;
        color: $color-secondary;

        &:focus {
            padding: 10px 20px;
            font-size: 15px;
            color: $color-secondary;
        }

        &:hover {
            color: $color-logo-red;
        }
    }

    .active,
    li:hover>a {
        color: $color-logo-red;
    }

    .getstarted {
        margin: 15px;

        &:focus {
            margin: 15px;
        }
    }

    .dropdown {
        ul {
            position: static;
            display: none;
            margin: 10px 20px;
            padding: 10px 0;
            z-index: 99;
            opacity: 1;
            visibility: visible;
            background: $color-white;
            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);

            li {
                min-width: 200px;
            }

            a {
                padding: 10px 20px;

                i {
                    font-size: 12px;
                }

                &:hover {
                    color: $color-logo-red;
                }
            }

            .active:hover,
            li:hover>a {
                color: $color-logo-red;
            }
        }

        >.dropdown-active {
            display: block;
        }
    }
}

#slider {
    margin-top: 80px;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;

    .carousel,
    .carousel-inner {
        position: absolute;
        top: 20px;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .carousel-item {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            content: "";
        }

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .container {
        text-align: center;
    }

    .carousel-inner {
        .carousel-item {
            transition-property: opacity;
            background-position: center top;
            opacity: 0;
        }

        .active {

            &.carousel-item-start,
            &.carousel-item-end {
                opacity: 0;
            }

            opacity: 1;
            transition: 0.5s;
        }

        .carousel-item-next.carousel-item-start,
        .carousel-item-prev.carousel-item-end {
            opacity: 1;
            transition: 0.5s;
        }

        .carousel-item-next,
        .carousel-item-prev {
            left: 0;
            transform: translate3d(0, 0, 0);
        }

        .active {

            &.carousel-item-start,
            &.carousel-item-end {
                left: 0;
                transform: translate3d(0, 0, 0);
            }
        }
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        background: none;
        font-size: 30px;
        line-height: 0;
        width: auto;
        height: auto;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50px;
        transition: 0.3s;
        color: rgba(255, 255, 255, 0.5);
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel-control-next-icon:hover,
    .carousel-control-prev-icon:hover {
        background: rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.8);
    }

    .carousel-indicators li {
        cursor: pointer;
        background: $color-white;
        overflow: hidden;
        border: 0;
        width: 12px;
        height: 12px;
        border-radius: 50px;
        opacity: 0.6;
        transition: 0.3s;

        &.active {
            opacity: 1;
            background: $color-logo-red;
        }
    }
}

@media (max-width: 992px) {
    #slider {
        height: 100vh;

        .carousel-container {
            top: 8px;
        }
    }
}

@media (max-width: 768px) {
    #slider h2 {
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
    #slider {

        .carousel-control-prev,
        .carousel-control-next {
            width: 5%;
        }
    }
}

@media (max-height: 500px) {
    #slider {
        height: 120vh;
    }
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg,
.service-model .icon-box,
.categories .icon-box {
    background-color: #f8f9fa;
}

.intro .content {
    h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        margin-bottom: 20px;
        color: $color-logo-blue;
    }

    h3 {
        font-weight: 500;
        line-height: 32px;
        font-size: 24px;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            padding: 10px 0 0 28px;
            position: relative;
        }

        i {
            left: 0;
            top: 7px;
            position: absolute;
            font-size: 20px;
            color: $color-logo-red;
        }
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.clients {
    padding: 0 0 60px 0;

    .swiper-slide img {
        opacity: 0.5;
        transition: 0.3s;
        filter: grayscale(100);

        &:hover {
            filter: none;
            opacity: 1;
        }
    }
}

@media (max-width: 768px) {
    .clients img {
        max-width: 40%;
    }

    .swiper-slide {
        margin-right: 50px !important;
    }
}

.icon-box {
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 6px;

    .img {
        width: 70px;
        height: auto;
    }

    h4 {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;

        a {
            color: $color-secondary;
            transition: 0.3s;
        }
    }

    p {
        line-height: 24px;
        font-size: 14px;
    }

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 0 60px 0 rgba(72, 86, 100, 0.1);

        h4 a {
            color: $color-logo-blue;
        }
    }
}

#services .icon-box {
    i {
        color: $color-logo-blue;
    }

    &:hover h4 a {
        color: $color-logo-blue;
    }
}

#categories .icon-box {
    i {
        color: $color-logo-red;
    }

    &:hover h4 a {
        color: $color-logo-red;
    }
}

.service-model .service-item {
    padding: 30px;
    transition: all ease-in-out 0.4s;
    background: $color-white;
    height: 100%;
    margin-right: 100px;

    .icon {
        margin-bottom: 10px;

        i {
            color: $color-logo-blue;
            font-size: 36px;
            transition: 0.3s;
        }
    }

    h4 {
        font-weight: 600;
        margin-bottom: 15px;
        font-size: 24px;

        a {
            color: $color-logo-blue;
            transition: ease-in-out 0.3s;
        }
    }

    p {
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
    }

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 0 60px 0 rgba(72, 86, 100, 0.1);

        h4 a {
            color: $color-logo-blue;
        }
    }
}

.team-member {

    .social {
        position: absolute;
        left: 0;
        top: -18px;
        right: 0;
        transition: ease-in-out 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            transition: color 0.3s;
            color: $color-white;
            background: $color-logo-blue;
            margin: 0 5px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            transition: 0.3s;

            i {
                line-height: 0;
                font-size: 16px;
            }

            &:hover {
                background: $color-logo-blue;
            }
        }

        i {
            font-size: 18px;
            margin: 0 2px;
        }
    }

    .member-info {
        padding: 30px 15px;
        text-align: center;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        background: $color-white;
        margin: 50px 20px 0 20px;
        position: relative;
        border-radius: 8px;

        h4 {
            font-weight: 400;
            margin-bottom: 5px;
            font-size: 24px;
            color: $color-secondary;
        }

        span {
            display: block;
            font-size: 16px;
            font-weight: 400;
            color: $color-gray;
        }

        p {
            font-style: italic;
            font-size: 14px;
            line-height: 26px;
            color: $color-gray;
        }
    }
}

.about {
    .about-img {
        position: relative;
        margin: 60px 0 0 60px;

        &:before {
            position: absolute;
            inset: -60px 0 0 -60px;
            z-index: -1;
            content: "";
            background: url("../img/about/about-bg.png") top left;
            background-repeat: no-repeat;
        }
    }

    h3 {
        color: $color-secondary;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 32px;
        margin-bottom: 20px;
    }

    .tab-content {
        h4 {
            font-size: 18px;
            margin: 0;
            font-weight: 700;
            color: $color-secondary;
        }

        i {
            font-size: 22px;
            line-height: 0;
            margin-right: 8px;
            color: $color-logo-blue;
        }
    }
}

.contact {

    .info {
        padding: 40px;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        overflow: hidden;

        h3 {
            font-weight: 600;
            font-size: 24px;
        }

        p {
            color: $color-secondary-light;
            margin-bottom: 30px;
            font-size: 15px;
        }
    }

    .info-item {
        +.info-item {
            padding-top: 20px;
            margin-top: 20px;
            border-top: 1px solid rgba(72, 86, 100, 0.15);
        }

        i {
            font-size: 24px;
            color: $color-logo-blue;
            transition: all 0.3s ease-in-out;
            margin-right: 20px;
        }

        h4 {
            padding: 0;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
            color: $color-secondary;
        }

        p {
            padding: 0;
            margin-bottom: 0;
            font-size: 14px;
            color: $color-secondary-light;
        }
    }

    .email-form {
        width: 100%;
        background: $color-white;

        .form-group {
            padding-bottom: 8px;
        }

        input {

            &[type=text],
            &[type=email] {
                border-radius: 0px;
                box-shadow: none;
                font-size: 14px;
            }
        }

        textarea {
            border-radius: 0px;
            box-shadow: none;
            font-size: 14px;
        }

        input {

            &[type=text]:focus,
            &[type=email]:focus {
                border-color: $color-secondary-light;
            }
        }

        textarea:focus {
            border-color: $color-secondary-light;
        }

        input {

            &[type=text],
            &[type=email] {
                height: 48px;
                padding: 10px 15px;
            }
        }

        textarea {
            padding: 10px 12px;
            height: 225px;
        }

        button[type=submit] {
            background: $color-logo-blue;
            border: 0;
            padding: 13px 50px;
            color: $color-white;
            transition: 0.4s;
            border-radius: 0;

            &:hover {
                background: $color-logo-blue;
            }
        }
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.services {
    .img {
        border-radius: 8px;
        overflow: hidden;

        img {
            transition: 0.6s;
        }
    }

    .details {
        padding: 50px 30px;
        margin: -100px 30px 0 30px;
        transition: all ease-in-out 0.3s;
        background: $color-white;
        position: relative;
        background: rgba(255, 255, 255, 0.9);
        text-align: center;
        border-radius: 8px;
        box-shadow: 0px 0 25px rgba(0, 0, 0, 0.1);

        .icon {
            margin: 0;
            width: 72px;
            height: 72px;
            background: $color-logo-blue;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            color: $color-white;
            font-size: 28px;
            transition: ease-in-out 0.3s;
            position: absolute;
            top: -36px;
            left: calc(50% - 36px);
            border: 6px solid $color-white;
        }

        h3 {
            color: black;
            font-weight: 700;
            margin: 10px 0 15px 0;
            font-size: 22px;
            transition: ease-in-out 0.3s;
        }

        p {
            line-height: 24px;
            font-size: 14px;
            margin-bottom: 0;
        }
    }

    .service-item:hover {
        .details {
            h3 {
                color: $color-logo-blue;
            }

            .icon {
                background: $color-white;
                border: 2px solid $color-logo-blue;

                i {
                    color: $color-logo-blue;
                }
            }
        }

        .img img {
            transform: scale(1.2);
        }
    }
}

#footer {
    background: $color-gray;
    padding: 0 0 30px 0;
    color: $color-white;
    font-size: 14px;

    .footer-top {
        background: $color-gray;
        padding: 60px 0 30px 0;

        .footer-info {
            margin-bottom: 30px;

            h3 {
                font-size: 24px;
                margin: 0 0 20px 0;
                padding: 2px 0 2px 0;
                line-height: 1;
                font-weight: 700;
            }

            p {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0;
                font-family: "Raleway", sans-serif;
                color: $color-white;
            }
        }

        .social-links a {
            font-size: 18px;
            display: inline-block;
            background: rgba(255, 255, 255, 0.1);
            color: $color-white;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 4px;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;

            &:hover {
                background: $color-logo-red;
                color: $color-white;
                text-decoration: none;
            }
        }

        h4 {
            font-size: 16px;
            font-weight: 600;
            color: $color-white;
            position: relative;
            padding-bottom: 12px;
        }

        .footer-links {
            margin-bottom: 30px;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                i {
                    padding-right: 2px;
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 18px;
                    line-height: 1;
                }

                li {
                    padding: 10px 0;
                    display: flex;
                    align-items: center;

                    &:first-child {
                        padding-top: 0;
                    }
                }

                a {
                    color: rgba(255, 255, 255, 0.6);
                    transition: 0.3s;
                    display: inline-block;
                    line-height: 1;

                    &:hover {
                        color: $color-white;
                    }
                }
            }
        }
    }

    .copyright {
        text-align: center;
        padding-top: 30px;
    }
}