$logo-red: #ee4631;
$logo-blue: #0f60b2;
$heading-font: "Comfortaa";
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

%card {
  align-items: center;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Varela Round", sans-serif !important;
  padding: 0 !important;
  width: 100% !important;
  margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font, cursive !important;
  font-weight: 700 !important;
}

.container {
  width: 100% !important;
}

#mainNav {
  padding: 0 !important;
  .nav-link {
    font-family: $heading-font, cursive;
    font-weight: 700 !important;
  }
  .active {
    background-color: #c5c8cc;
    border-radius: 10px;
  }
}

.header-logo {
  width: 200px;
  height: 80px;
}

.symbol {
  width: 30px;
  height: 30px;
  display: inline;
}

.with-logo {
  display: inline;
  vertical-align: middle;
}

.color-red {
  color: $logo-red !important;
}
.color-blue {
  color: $logo-blue !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.button-div {
  :hover {
    transform: scale(0.8);
  }
  .btn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $heading-font, sans-serif !important;
    font-size: small;
  }
}

a :hover {
  transform: scale(0.8);
}

.card-deck,
.card-group {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
}

.main-banner {
  width: 100%;
  max-height: calc(100vh - 100px);
}

.main-strip {
  color: white;
  background-color: $logo-red;
  text-align: center;
  border-bottom: 5px solid white;
  padding: 10px;
  font-weight: bold;

  a {
    color: black;
  }
}

.card-border {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 4px;
}

.card-border-gradient {
  border-image-source: linear-gradient(to bottom, $logo-red, $logo-blue);
}

.main-section {
  padding: 0px 0px 10px 0px;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;
  background-color: white;

  .section-heading-area {
    text-align: center;
    margin: auto;
    background-color: white;
  }

  .section-heading {
    padding: 10px !important;
    background: linear-gradient(to right, #ee4631, #0f60b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .section-description {
    color: black;
  }

  .card-area {
    margin: auto;
  }

  .card {
    align-items: center;
    margin: 0px 10px 10px 10px;
    padding: 0 !important;
    transition: 0.4s ease-out;
    // border-bottom: 5px solid black;
    // border-top: 5px solid black;
    // border-left: 5px solid $logo-red;
    // border-right: 5px solid $logo-red;
  }

  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }

  .main-container {
    padding-top: 0px !important;
  }

  .card-body {
    padding: 10px !important;
    p {
      color: $logo-blue !important;
      font-weight: bold;
    }
  }

  .card-img-top {
    margin-bottom: 10px !important;
    height: 50% !important;
  }

  .card-title {
    background: linear-gradient(to right, #ee4631, #0f60b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h5 {
    color: $logo-blue !important;
  }

  > .container {
    flex: 1;
    padding-top: 20px;
  }
}

.bg-section {
  background-image: url("../img/slideshow/bg2.jpg");
  background-repeat: repeat;
  background-size: 50%;
}

#contact {
  h2 {
    text-align: center;
    margin-top: 10px !important;
  }
  p {
    text-align: center;
  }
  a {
    color: black;
  }
  .card {
    margin-top: 20px !important;
    padding-top: 20px !important;

    .card-body {
      width: 100%;
    }
    .card-text {
      font-weight: normal !important;
      text-align: center;
    }
    .card-subtitle {
      color: black !important;
      font-weight: bold;
    }
  }
  form {
    h5 {
      color: $logo-blue;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
    }
    h6 {
      color: $logo-blue;
    }
    fieldset {
      margin-top: 20px;
    }
    .row {
      margin-left: 0px !important;
    }
    a {
      color: $logo-red;
    }
    img {
      margin-left: -20px;
      margin-top: 20px;
    }
    .ownership {
      margin: 5px;
    }
  }
  .contact-connects {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      margin-bottom: 12px;
    }
    i {
      color: $logo-blue;
      font-size: x-large;
    }
    h5 {
      color: $logo-red !important;
      margin-top: 10px;
    }
  }
}

#story {
  background-color: white;
  font-family: "Roboto", sans-serif !important;

  .container > .row {
    margin-bottom: 20px;
  }

  h2 {
    color: black;
    font-weight: bold;
  }
  h4 {
    font-weight: bold;
    width: 100%;
    text-decoration-line: underline;
    color: black;
  }
  ul {
    list-style-type: square;
    padding: 0;
    margin: 0;
    color: black;
  }
  .story {
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 0px 0px;
  }
  .story-text {
    margin-top: 10px;
  }
  p {
    color: black;
  }
  figure {
    text-align: center;
    .manish {
      padding: 0px 0px;
      object-fit: cover;
      width: 60%;
      height: auto;
      border-radius: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    figcaption {
      color: black;
      font-weight: bold;
    }
  }
}

.service-container-bg {
  min-height: calc(100vh - 100px);
  padding: 5%;
  .row {
    justify-content: center;
    align-items: center;
  }
  h1 {
    color: $logo-blue;
  }
  p {
    font-weight: bold;
  }
  .service-container-img {
    text-align: center;
    height: auto;
  }
  .card {
    @extend %card;
  }
}

.service-detail {
  padding-top: 20px;
  div {
    padding: 5px;
    border-bottom: 1px #b7b7b7 solid;
  }
  color: black;
}

.service-content {
  text-align: center;
  font-weight: bold;
  h1 {
    font-weight: bolder;
  }
  .card {
    margin-bottom: 0px !important;
    padding-top: 10px;
  }
}

.content-img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.my-footer {
  border-top: 5px blue solid;
  padding: 10px 25px;
  background-color: #f8f8f8;
  color: #aebcbd !important;

  h4 {
    font-weight: bold;
    margin-top: 10px;
    color: black;
  }
  ul {
    list-style-type: square;
  }
  #site-map {
    font-weight: bold;
  }
  #middle {
    font-weight: lighter;
    i {
      font-size: x-large;
      color: $logo-red;
    }
    #icons {
      font-weight: bold;
      i {
        color: $logo-blue;
      }
      table {
        vertical-align: middle;
        td {
          padding: 3px;
        }
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
  #contact-generic {
    margin-top: 5px;
    padding-right: 10px;
    li {
      color: $logo-blue !important;
      font-weight: bold !important;
    }
    .row {
      margin-bottom: 5px !important;
    }
  }
  .copyright {
    color: gray;
    margin-bottom: 0;
    i {
      color: gray !important;
    }
  }
  .click {
    color: black;
  }
}

.click {
  color: white;
}

#credits {
  width: 100%;
  text-align: center;
  font-size: small;
  color: #5e5e5e;
  padding: 10px;
  line-height: 2.5;

  span {
    color: $logo-blue;
    font-weight: bold;
  }
}

#admin {
  table {
    background-color: white;
  }
}

.contact-sticky {
  position: fixed;
  bottom: 20px;
  left: auto;
  right: 20px;
  z-index: 9999;

  img {
    width: 70px;
    height: auto;
    display: inline;
    border-radius: 10px;
  }

  img:hover {
    border-radius: 15px;
    transform: scale(1.2);
  }
}

// grid breakpoints start here - dont go below

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$grid-gutter-width: 30px !default;

// number of cards per line for each breakpoint
$cards-per-line: (
  xs: 1,
  sm: 1,
  md: 2,
  lg: 4,
  xl: 4,
);

@each $name, $breakpoint in $grid-breakpoints {
  @media (min-width: $breakpoint) {
    .content-img {
      padding-bottom: 5px;
    }
    #services,
    #partners,
    #segments {
      .container,
      .main-container {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .card-group .card,
    .card-deck .card {
      flex: 0 0
        calc(#{100 / map-get($cards-per-line, $name)}% - #{$grid-gutter-width});

      width: 100% !important;
      height: auto !important;
    }
  }
}

$cards-per-line: (
  xs: 1,
  sm: 1,
  md: 2,
  lg: 3,
  xl: 5,
);

@each $name, $breakpoint in $grid-breakpoints {
  @media (min-width: $breakpoint) {
    #partners .card-deck .card {
      flex: 0 0
        calc(#{100 / map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
    }
  }
}

$cards-per-line: (
  xs: 1,
  sm: 1,
  md: 2,
  lg: 3,
  xl: 3,
);

@each $name, $breakpoint in $grid-breakpoints {
  @media (min-width: $breakpoint) {
    .segments-special .card-deck .card {
      flex: 0 0
        calc(#{100 / map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
    }
  }
}
