<!-- accessible at /about -->

{% extends "layout.html" %}

{% block title %} About Us - RetailZip {% endblock %}

{% block body %}
<section id="story" class="main-section new-page" data-tab_id="about-tab">

    <!-- story & idea panel starts -->
    <div class="container">

        <!-- story & idea panel heading starts-->
        <div class="row section-heading-area">            
            <div class="col-lg-12 text-center">
                <img src="static/img/brand/symbol.jpg" class="symbol">
                <h2 class="section-heading with-logo">
                    Story Behind <span class="color-red">Retail</span><span class="color-blue">Zip</span>
                </h2>
            </div>            
        </div>
        <!-- story & idea panel heading ends-->

        <div class="row">
            <!-- story panel content starts -->
            <div class="col-lg-6 col-sm-12 story-text">

                <!-- story panel content heading -->
                <h4> {{ content.story.india.heading }} </h4>
                <br>
                <!-- story panel content items start -->
                <ul>
                    {% for point in content.story.india.points %}
                    <li>{{ point|safe }}</li>
                    {% endfor %}
                </ul>
                <!-- story panel content items end -->
            </div>
            <!-- story panel content ends -->

            <!-- story panel image-->
            <div class="col-lg-6 col-sm-12">
                <img src="static/img/about/{{content.story.india.image}}" class="story">
            </div>
        
        </div>
        <br><br>
        <div class="row">

            <!-- idea panel content starts -->
            <div class="col-lg-6 col-sm-12 story-text">
                <br><br>
            
                <!-- idea panel content heading -->
                <h4> <span class="color-red">Retail</span><span class="color-blue">Zip</span> Idea </h4>
            
                <!-- ideal panel content items start -->
                <ul>
                    {% for point in content.story.idea.points %}
                    <li>{{ point|safe }}</li>
                    {% endfor %}
                </ul>
                <!-- ideal panel content items end -->
            </div>
            <!-- idea panel content ends -->
            <!-- idea panel image -->
            <div class="col-lg-6 col-sm-12">
                <img src="static/img/about/{{content.story.idea.image}}" class="story img-fluid">
            </div>

            
        </div>      
        
    </div>     

    <!-- values & help panel starts -->
    <div class="container" id="values-and-help">

        <!-- values & help panel heading starts -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="static/img/brand/symbol.jpg" class="symbol">
                <h2 class="section-heading with-logo">
                    How <span class="color-red">Retail</span><span class="color-blue">Zip</span> Can Help You
                </h2>
            </div>
        </div>
        <!-- values & help panel heading ends -->
        <br>
        <div class="row">

            <!-- values panel image -->
            <div class="col-lg-6 col-sm-12">
                <img src="static/img/about/{{content.ideals.image}}" class="story img-fluid">
            </div>
            
            <!-- values panel content starts -->
            <div class="col-lg-6 col-sm-12 story-text">  
                <br>

                <!-- values panel content items start -->
                {% for heading, point in content.ideals.points.items() %}
                    <h4>{{ heading }}</h4>
                    <p>{{ point }}</p>
                    <br>
                {% endfor %}   
                <!-- values panel content items end -->
            </div>
            <!-- values panel content ends -->
    
        </div>
        <br><br>
        <div class="row">

            <!-- help panel image -->
            <div class="col-lg-6 col-sm-12">
                <img src="static/img/about/{{content.work.image}}" class="story">
            </div>

            <!-- help panel content starts -->
            <div class="col-lg-6 col-sm-12 story-text">
                <br><br>

                <!-- help panel content items start -->
                {% for heading, point in content.work.points.items() %}
                    <h4>{{ heading }}</h4>
                    <p>{{ point }}</p>
                    <br>
                {% endfor %}
                <!-- help panel content items end -->

            </div>
            <!-- help panel content ends -->
    
        </div>
    
    </div>    
    
    <!-- about panel starts -->
    <div class="container">

        <!-- about panel heading starts -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="static/img/brand/symbol.jpg" class="symbol">
                <h2 class="section-heading with-logo">About the Founder</h2>
            </div>
        </div>
        <!-- about panel heading ends -->

        <div class="row">

            <!-- about panel content starts -->
            <div class="col-lg-8 col-sm-12 story-text">

                <!-- about panel content items start -->
                <table class="table table-sm">
                    {% for point in content.founder %}
                        <tr><td>{{ point|safe }}</td></tr>
                    {% endfor %}
                </table>  
                <!-- about panel content items end -->

            </div>
            <!-- about panel content ends -->

            <!-- about panel image starts -->
            <div class="col-lg-4 col-sm-12">
                <figure>
                    <img src="static/img/about/manish.jpeg" class="manish img-fluid">

                    <!-- about panel image captions -->
                    <figcaption>Manish Agarwal</figcaption>
                    <p class="text-muted">Founder @ RetailZip</p>
                </figure>                
            </div>
            <!-- about panel image ends -->
        </div>    
    </div>
</section>
<script src="static/js/script.js"></script>
<script src="static/js/about.js"></script>
{% endblock %}