{% extends "layout.html" %}

{% block title %} About Us - RetailZip {% endblock %}

{% block body %}
<section id="about" class="main-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#description" role="tab" aria-controls="description"
                                    aria-selected="true">How RetailZip Can Help You</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#history" role="tab" aria-controls="history"
                                    aria-selected="false">The Story behind RetailZip</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#deals" role="tab" aria-controls="deals"
                                    aria-selected="false">About the Founder of RetailZip</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row card-body">    
                        <div class="col-lg-8 tab-content mt-3">
                            <div class="tab-pane active" id="description" role="tabpanel">
                                <h4 class="card-title">At RetailZip, our aim is to Unzip Solutions for all types of retail businesses.</h4>
                                <p class="card-subtitle">
                                    Solutions Unzipped for Retailers to Mall Developers to Develop, Expand & Grow.
                                <table class="table table-sm">
                                    <tr>
                                        <td><span class="point">Vision</span></td>
                                        <td>Customer is our God and we hope that at RetailZip all the Solutions will get Unzipped for them.</td>
                                    </tr>
                                    <tr>
                                        <td><span class="point">Mission</span></td>
                                        <td>Engaging with entrepreneurs in their existing businesses and
                                            creating new retail start-ups.</td>
                                    </tr>
                                    <tr>
                                        <td><span class="point">Reach</span></td>
                                        <td>RetailZip solutions will be available in Eastern India and will gradually expand to Pan-India.</td>
                                    </tr>
                                    <tr>
                                        <td><a href="{{ url_for('segments') }}">Business Verticals</a></td>
                                        <td>Serving needs of various retail formats</td>
                                    </tr>
                                    <tr>
                                        <td><a href="{{ url_for('services') }}">Retail Services</a></td>
                                        <td>Services for managing and growing retail business</td>
                                    </tr>
                                    <tr>
                                        <td><a href="{{ url_for('partners') }}">Associate Services</a></td>
                                        <td>Collaboration with Business Associates for providing solutions</td>                                        
                                    </tr>
                                    
                                </table>
                            </div>
    
                            <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab">
                                <p class="card-text">First settled around 1000 BCE and then founded as the Etruscan Felsina
                                    about 500 BCE, it was occupied by the Boii in the 4th century BCE and became a Roman
                                    colony and municipium with the name of Bononia in 196 BCE. </p>
                                <a href="#" class="card-link text-danger">Read more</a>
                            </div>
    
                            <div class="tab-pane" id="deals" role="tabpanel" aria-labelledby="deals-tab">
                                <p class="card-text">Immerse yourself in the colours, aromas and traditions of
                                    Emilia-Romagna with a holiday in Bologna, and discover the city's rich artistic
                                    heritage.</p>
                                <a href="#" class="btn btn-danger btn-sm">Get Deals</a>
                            </div>
                        </div>
                        <div class="col-lg-4 image-inlay">
                            <img src="static/img/zip_photos/symbols/trolley(8).jpg">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<script src="static/js/script.js"></script>
{% endblock %}