{% extends "layout.html" %}

{% block title %} Consultation - RetailZip {% endblock %}

{% block body %}

<section id="contact" class="main-section bg-section" data-tab_id="consult-tab">
    <div class="container text-center">

        <!-- contact section heading -->
        <h2 class="section-heading with-logo">CONSULTATION FORM</h2>
        <img src="static/img/handshake.png" class="handshake">

        <!-- section description -->
        <p class="section-description text-faded mb-4">
            Please fill up the below <span class="color-blue">Consultation Form</span>
            or in case of any query,
            <a href="{{ url_for('contact') }}">
                <span class="color-red">click here <i class="far fa-hand-pointer"></i></span>
            </a>

            to connect with us.
            <br>
        </p>

        <!-- detail query area starts -->
        <div class="row">
            <div class="card card-border card-border-gradient" id="contact_detail">
                <!-- card heading -->
                <div class="card-body">
                    <form id="contact_detail_form" method="post">
                        <small class="form-text text-muted text-center">Fields marked * are required</small>
                        <div class="row">
                            <div class="col-lg-6 col-m-12">
                                <h5>Personal Details</h5>
                                <div class="form-group">
                                    <input class="form-control" type="email" name="email" placeholder="Contact Email *"
                                        required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="name" placeholder="Name *" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="number" placeholder="Contact Number *"
                                        required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="alt-number"
                                        placeholder="Alternative Number">
                                </div>

                                <input type="hidden" name="country" id="countryId" value="IN" />

                                <div class="form-group">
                                    <input class="form-control" type="text" name="address" placeholder="Address *"
                                        required>
                                </div>
                                <div class="form-group">
                                    <select name="state" class="states order-alpha custom-select" id="stateId" required>
                                        <option value="">Select State *</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="city" class="cities order-alpha custom-select" id="cityId" required>
                                        <option value="">Select City *</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="pincode" placeholder="Pincode *"
                                        required>
                                </div>

                                <div class="form-group">
                                    <input class="form-control" type="text" name="firm" placeholder="Firm/Brand Name">
                                </div>

                                <fieldset class="form-group">
                                    <legend>
                                        <h6>Your Ownership Profile *</h6>
                                    </legend>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" id="land-owner" name="ownership"
                                            class="custom-control-input" value="Land Owner">
                                        <label class="custom-control-label" for="land-owner">Land Owner</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" id="developer" name="ownership"
                                            class="custom-control-input" value="Developer">
                                        <label class="custom-control-label" for="developer">Developer</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" id="retailer" name="ownership"
                                            class="custom-control-input" value="Retailer">
                                        <label class="custom-control-label" for="retailer">Retailer</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" id="other" name="ownership" class="custom-control-input"
                                            value="Other">
                                        <label class="custom-control-label" for="other">Other</label>
                                    </div>
                                    <div class="alert" id="ownership"></div>
                                </fieldset>
                                <div class="form-group">
                                    <textarea class="form-control" type="text" name="message"
                                        placeholder="Your Message"></textarea>
                                </div>
                                <div class="alert" id="contact-detail-alert"></div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <h5>Business Details</h5>
                                <fieldset class="form-group">
                                    <legend>
                                        <h6>Your Business Vertical(s) * <a href="{{ url_for('segments') }}">(details <i
                                                    class="far fa-hand-pointer"></i>)</a></h6>
                                    </legend>

                                    <div class="row" style="text-align: left">
                                        {% for key, segment in business.items() %}
                                        <div class="col-s-12 col-lg-6 custom-control custom-checkbox">
                                            <input type="checkbox" id="{{ key }}" name="vertical"
                                                class="custom-control-input" value="{{ segment.segment_name }}">
                                            <label class="custom-control-label" for="{{ key }}">{{ segment.segment_name
                                                }}</label>
                                        </div>
                                        {% endfor %}
                                    </div>

                                    <div class="alert" id="vertical"></div>
                                </fieldset>

                                <fieldset class="form-group">
                                    <legend>
                                        <h6>Retail Service(s) *<a href="{{ url_for('services') }}">(details <i
                                                    class="far fa-hand-pointer"></i>)</a>
                                        </h6>
                                    </legend>

                                    <div class="row" style="text-align: left">
                                        {% for key, service in services.items() %}
                                        <div class="col-s-12 col-lg-6 custom-control custom-checkbox">
                                            <input type="checkbox" id="{{ key }}" name="service"
                                                class="custom-control-input" value="{{ service.service_name }}">
                                            <label class="custom-control-label" for="{{ key }}">{{ service.service_name
                                                }}</label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="alert" id="service"></div>
                                </fieldset>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- detail query area ends -->

    </div>
</section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//geodata.solutions/includes/statecity.js"></script>
<script src="static/js/script.js"></script>
<script src="static/js/contact-detail.js"></script>
{% endblock %}