<!-- accessible at /contact -->

{% extends "layout.html" %}

{% block title %} Contact Us - RetailZip {% endblock %}

{% block body %}
<section id="contact" class="main-section" data-tab_id="contact-tab">
    <div class="container">

        <!-- contact section heading -->
        <h2>There are 2 ways you can contact us:</h2>
        <div class="row">

            <!-- detail query area starts -->
            <div class="col-lg-6 col-m-12">
                <div class="card">

                    <!-- card heading -->
                    <h4 class="card-title" >via a Detail Query Form</h4>

                    <!-- when to use helptext -->
                    <p class="card-subtitle text-muted">Use when you know what you need</p>

                    <!-- form not visible helptext -->
                    <a class="card-link" href="https://forms.gle/AFPqBEeD1rsGRuYPA">Form not visible? <span style="color: red">Click here</span> to fill.</a>
                    
                    <!-- google form embed-->
                    <div class="card-body">
                        <iframe
                            src="https://docs.google.com/forms/d/e/1FAIpQLSd7-KZwIsXHH5_TcfQjusISG6WZgdQOr3b2qGDUU7uJsFB01w/viewform?embedded=true"
                            width="500" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                    </div>
                </div>
            </div>
            <!-- detail query area ends -->

            <!-- short query area starts -->
            <div class="col-lg-6 col-m-12">
                <div class="card">

                    <!-- area heading -->
                    <h4 class="card-title">via a Short Query Form</h4>

                    <!-- when to use helptext -->
                    <p class="card-subtitle text-muted">Use when you're unsure of what you want</p>

                    <!-- form not visible helptext -->
                    <a class="card-link" href="https://forms.gle/PSHt2qdKtFzbjiCz6">Form not visible? <span style="color: red">Click
                            here</span> to fill.</a>

                    <!-- google form embed -->
                    <div class="card-body">
                        <iframe
                            src="https://docs.google.com/forms/d/e/1FAIpQLScy2lje6rmuGAU1np4O_hzNSjZAJtuzlkpDykvdWW2sW7Ge6w/viewform?embedded=true"
                            width="500" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                    </div>
                </div>
            </div>
            <!-- short query area ends -->
        </div>
    </div>
</section>
<script src="static/js/script.js"></script>
{% endblock %}