<!-- accessible at / -->

{% extends 'layout.html' %}
{% block title %} RetailZip {% endblock %}
{% block body %}

<!-- slider -->
<section id="slider">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <div class="carousel-item active" style="background-image: url(static/img/banner_wa.jpg)">
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section>

<main id="main">

    <!-- intro -->
    <section id="intro" class="intro">
        <div class="container">

            <div class="row content">
                <div class="col-lg-6">
                    <h2> Give your </h2>
                    <h2> retail business </h2>
                    <h2> the Retailzip </h2>
                    <h2> advantage</h2>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        As India's upcoming Retail Consulting firm, we collaborate with <br> <strong>Retailers, Brands, Investors & Mall Developers</strong> and provide
                        <br> business services to <strong>Develop, Expand and Grow</strong> their business <br>in the most efficient
                        and profitable
                        way.
                    </p>
                    <div class="container">
                            {% for key, value in content.items() %}
                        <div class="row gy-4 justify-content-center">
                            <div class="col-12 icon-box">
                                <div class="row">
                                    <div class="col-3 img">
                                        <img src="static/img/about/{{ value.image }}" class="img-fluid" alt="">                      
                                    </div>
                                    <div class="col-9">
                                        <p>{{ value.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- clients -->
    <section id="clients" class="clients section-bg">
        <div class="container" data-aos="zoom-out">
            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide">
                        <img src="static/img/clients/success1.png" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="static/img/clients/prm1.png" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="static/img/clients/style bazaar.png" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="static/img/clients/zedd.png" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="static/img/clients/sanvi.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="static/img/clients/glg.png" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="static/img/clients/third bridge.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- services -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Business Services</h2>
                <br>
            </div>

            <div class="row justify-content-center">

                {% for key, value in services.items() %}
                    <div class="col-md-4 mt-4 mt-md-0 icon-box">
                        <div class="row">
                            <div class="col-3 img">
                                <img src="static/img/services/{{ value.image }}" class="img-fluid" alt="">
                                
                            </div>
                            <div class="col-9">
                                <h4>{{ value.service_name }}</h4>
                                <p>{{ value.mini_description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section>

    <!-- categories -->
    <section id="categories" class="categories">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Business Categories</h2>
                <br>
            </div>

            <div class="row justify-content-center">
                {% for key, category in business.items() %}
                <div class="col-md-4 mt-4 mt-md-0 icon-box">
                    <div class="row">
                        <div class="col-3 img">
                            <img src="static/img/categories/{{ category.image }}" class="img-fluid" alt="">
                            
                        </div>
                        <div class="col-9">
                            <h4>{{ category.segment_name }}</h4>
                            <p>{{ category.product_categories }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>

    <!-- service model -->
    <section id="service-model" class="service-model">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Service Model</h2>
                <br>
            </div>
            <div class="row gy-4 justify-content-center">
                {% for key, value in model.items() %}
                <div class="col-md-4 mt-4 mt-md-0 icon-box">
                    <div class="row">
                        <div class="col-3 img">
                            <img src="static/img/model/{{ value.image }}" class="img-fluid" alt="">
                            
                        </div>
                        <div class="col-9">
                            <h4>{{ value.stage }}</h4>
                            <p>{{ value.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>

    <!-- about -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>About The Founder</h2>
                <br>
            </div>

            <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-5">
                    <div class="about-img">
                        <img src="static/img/about/manish.jpeg" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-7">
                    <h3 class="pt-0 pt-lg-5">A Retail Professional with 25 years of experience in
                        Retail Development and Management.</h3>

                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="tab1">
                            <p>Experience in managing retail stores at Future Group spread across 4
                                million sq. ft. in 50 cities of India. Worked as CEO for East India.
                            </p>
                            <p>Engaging with Brands, Retailers, Investors
                                & Mall Developers for profitable growth, scaling up and
                                creating new brands & retail
                                destinations.
                            </p>

                        </div>

                    </div>
                    <div class="team-member">
                        <div class="member-info">
                            <div class="social">
                                <a href="https://www.linkedin.com/in/manish-agarwal-01b684217" class="linkedin"><i
                                        class="bi bi-linkedin"></i></a>
                                <a href="https://twitter.com/manishagarwal20" class="twitter"><i class="bi bi-twitter"></i></a>
                                <a href="https://www.instagram.com/retailzip/" class="instagram"><i class="bi bi-instagram"></i></a>
                            </div>
                            <h4>Manish Agarwal</h4>
                            <span>Founder</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- contact -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-header">
                <h2>Drop a Message</h2>
                <br>
            </div>

        </div>

        <div class="container">

            <div class="row gy-5 gx-lg-5">

                <div class="col-lg-4">

                    <div class="info">
                        <h3>Get in touch</h3>
                        <br>
                        <div class="info-item d-flex">
                            <i class="bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h4>Email:</h4>
                                <p>manish@retailzip.in</p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="info-item d-flex">
                            <i class="bi bi-phone flex-shrink-0"></i>
                            <div>
                                <h4>Call:</h4>
                                <p>+91 9339735675</p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="info-item d-flex">
                            <i class="bi bi-whatsapp flex-shrink-0"></i>
                            <div>
                                <h4>Whatsapp:</h4>
                                <p>+91 9339725675</p>
                            </div>
                        </div><!-- End Info Item -->

                    </div>

                </div>

                <div class="col-lg-8">
                    <form id="contact_short_form" method="post" role="form" class="email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name"
                                    placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="number" id="number"
                                placeholder="Your Contact Number" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" placeholder="Your Message" type="text"
                                required></textarea>
                        </div>
                        <div class="alert" id="contact-short-alert"></div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div><!-- End Contact Form -->

            </div>

        </div>
    </section>


</main>

{% endblock %}