<!-- accessible at / -->

{% extends 'layout.html' %}
{% block title %} Home - RetailZip {% endblock %}
{% block body %}

<!-- main page banner -->
<header class="main-section masthead main-banner text-center text-white d-flex">
    <img class="img-fluid" src="static/img/banner.jpeg">
</header>

<!-- contact strip -->
<div class="main-strip container-fluid">
    <div class="row">
        <div class="col">
            To get your Solutions Unzipped, 
            <a href="{{ url_for('contact') }}">click here</a> 
            to fill the Google Form and we will get back to you!
        </div>
    </div>
</div>

<!-- business verticals tease starts -->
<section id="segments" class="main-section">
    <div class="container">

        <!-- verticals heading starts -->
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">

                <!-- zip symbol -->
                <img src="static/img/brand/symbol.jpg" class="symbol">
                <!-- tease heading -->
                <h2 class="text-white section-heading with-logo">BUSINESS VERTICALS</h2>
            </div>
        </div>
        <!-- verticals heading ends -->

        <!-- verticals content starts -->
        <div class="container main-container">

            <!-- verticals content items start -->
            <div class="row card-deck text-center">

                {% for key, value in business.items() %}

                <div class="card text-center">
                    <!-- vertical content item image -->
                    <img class="card-img-top small" src="static/img/segments/{{ value.image }}">
                    <!-- vertical content item description -->
                    <div class="card-body">
                        <h5 class="card-title">{{ value.segment_name }}</h5>
                        <p class="card-text text-muted">{{ value.retail_type }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- verticals content items end -->

            <!-- vertical read more starts -->
            <div class="text-center button-div">
                <a href="{{ url_for('segments') }}">
                    <button class="btn btn-primary btn-lg" type="button">
                        READ MORE
                        <!-- hand icon -->
                        <i class="far fa-hand-pointer"></i>
                    </button>
                </a>
            </div>
            <!-- vertical read more ends -->
        </div>
        <!-- verticals content ends -->
    </div>
</section>
<!-- business verticals tease ends -->

<!-- retail services tease starts -->
<section id="services" class="main-section">
    <div class="container">

        <!-- services heading starts -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- zip symbol -->
                <img src="static/img/brand/symbol.jpg" class="symbol">
                <!-- section heading -->
                <h2 class="section-heading with-logo" >RETAIL SERVICES OFFERED</h2>
            </div>
        </div>
        <!-- services heading ends -->

        <!-- services content starts -->
        <div class="container main-container">

            <!-- services content items start -->
            <div class="row card-deck text-center" style="margin: 9px;">
                {% for key, value in services.items() %}
        
                <div class="card text-center col-md-4">
                    
                    <!-- service image -->
                    <img class="card-img-top" src="static/img/services/{{ value.image }}">

                    <!-- service name & link -->
                    <a href="{{ url_for('service',id=key) }}" class="plain-link">
                        <h5 class="card-title">{{ value.service_name }}</h5>
                    </a>

                    <!-- service description -->
                    <p class="card-text text-muted">{{ value.mini_description }}</p>
        
                </div>
        
                {% endfor %}
        
            </div>
            <!-- services content items end -->

            <!-- services read more starts -->
            <div class="text-center button-div">
                <a href="{{ url_for('services') }}">
                    <button class="btn btn-primary btn-lg" type="button">
                        READ MORE

                        <!-- hand icon -->
                        <i class="far fa-hand-pointer"></i>
                    </button>
                </a>
            </div>
            <!-- services read more ends -->
        </div>
        <!-- services content ends -->
    </div>
    
</section>

<!-- associates tease starts -->
<section id="partners" class="main-section" style="padding: 90px;">
    <div class="container">

        <!-- associates heading starts -->
        <div class="row">
            <div class="col-lg-12 text-center">

                <!-- zip symbol -->
                <img src="static/img/brand/symbol.jpg" class="symbol">
                <!-- section heading -->
                <h2 class="section-heading with-logo">PARTNER ASSOCIATES</h2>
            </div>
        </div>
        <!-- associates heading ends -->

        <!-- associates content starts -->
        <div class="container main-container">

            <!-- associates content items start -->
            <div class="row card-deck text-center" style="margin: 9px;">
                {% for key, value in associate.items() %}
        
                <div class="card text-center col-md-4">

                    <!-- associate image -->
                    <img class="card-img-top" src="static/img/services/{{ value.image }}">

                    <!-- associate name & link -->
                    <a href="{{ url_for('service', id=key) }}">
                        <h5 class="card-title">{{ value.service_name }}</h5>
                    </a>

                    <!-- associate description -->
                    <p class="text-muted">{{ value.mini_description }}</p>
                </div>            
                {% endfor %}
        
            </div>
            <!-- associates content items end -->

            <!-- associates read more starts -->
            <div class="text-center button-div">
                <a href="{{ url_for('partners') }}">
                    <button class="btn btn-primary btn-lg" type="button">
                        
                        READ MORE

                        <!-- hand icon -->
                        <i class="far fa-hand-pointer"></i>
                    </button>
                </a>
            </div>
            <!-- associates read more ends -->
        </div>
        <!-- associates content ends -->
        
    </div>
</section>
<!-- associates tease ends -->

{% endblock %}