<!-- accessible at /verticals -->

{% extends "layout.html" %}

{% block title %} Business Verticals - RetailZip {% endblock %}

{% block body %}
<section id="segments" class="main-section segments-special" data-tab_id="segments-tab">

    <div class="container">

        <!-- heading starts -->
        <div class="row">
            <div class="col-lg-12 text-center">

                <!-- zip symbol -->
                <img src="static/img/brand/symbol.jpg" class="symbol">

                <!-- section heading -->
                <h2 class="section-heading with-logo">BUSINESS VERTICALS</h2>
                <hr class="light my-4">

                <!-- section description -->
                <p class="text-faded mb-4">These are the retail businesses for which solutions can be unzipped for you.<br></p>
            </div>
        </div>
        <!-- heading ends -->
    </div>

    <div class="container main-container">
        <!-- content starts -->
        <div class="row card-deck text-center">
            {% for key, segment in segments.items() %}
                <div class="card text-center">

                    <!-- vertical image -->
                    <img class="card-img-top small" src="static/img/segments/{{ segment.image }}">
                    <div class="card-body">

                        <!-- vertical name -->
                        <h5 class="card-title">{{ segment.segment_name }}</h5>

                        <!-- vertical description -->
                        <p class="card-text text-muted">{{ segment.retail_type }}</p>
                        <small><b>{{ segment.product_categories }}</b></small>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- content ends -->
        
    </div>
</section>
<script src="static/js/script.js"></script>
{% endblock %}