<!-- accessible at /services?id=<ID> -->

{% extends "layout.html" %}

{% block title %} {{ service.service_name }} - RetailZip {% endblock %}

{% block body %}

<section id="services" class="main-section service-container-bg" style="background-color: {{ service.bg_color }} !important">
    <div class="container">
        <div class="row align-items-center">

            <!-- service image -->
            <div class="col-lg-6 col-m-12 service-container-img">
                <img class="content-img" src="static/img/services/{{ service.image }}">
            </div>

            <!-- service content starts -->
            <div class="col-lg-6 col-m-12 service-content">
                <div class="card card-border card-border-gradient">

                    <!-- service name -->
                    <h1 class="section-heading">{{ service.service_name }}</h1>

                    <!-- service description -->
                    <p class="text-muted card-subtitle">{{ service.mini_description }}</p>

                    <!-- service sub-services-->
                    <div class="container main-container">
                        <div class="row service-detail text-left" style="margin: 9px;">
                    
                            {% for item in service.sub_services %}
                            <div class="col-md-6 col-sm-12">{{ item }}</div>
                            {% endfor %}
                    
                        </div>
                    </div>
                </div>
            </div>
            <!-- service content ends -->

            <!-- back to services link -->
            <div class="text-center button-div">
                <a href="{{ url_for('services') }}">
                    <button class="btn btn-primary btn-lg" type="button">

                        <!-- hand icon -->
                        <i class="fas fa-backward"></i>
                        Explore Other Services
                        
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}